@font-face {
  font-family: MinecraftRegular;
  src: url(./fonts/MinecraftRegular.otf)
}

@font-face {
  font-family: MinecraftBold;
  src: url(./fonts/MinecraftBold.otf);
}

@font-face {
  font-family: MinecraftItalic;
  src: url(./fonts/MinecraftItalic.otf);
}

@font-face {
  font-family: MinecraftBoldItalic;
  src: url(./fonts/MinecraftBoldItalic.otf);
}

#outputText {
  word-wrap: break-word;
  white-space: pre-wrap;
  cursor: pointer;
  width: 100px;
  font-family: MinecraftRegular;
}

#error {
  color: red;
  display: none;
}

.minecraft {
  font-family: MinecraftRegular;
}

.minecraftbold {
  font-family: MinecraftBold;
}

.minecraftitalic {
  font-family: MinecraftItalic;
}

.minecraftibold {
  font-family: MinecraftBoldItalic;
}

.minecraftunderline {
  text-decoration: underline;
}

.minecraftustrike {
  text-decoration: underline line-through;
}

.minecraftstrike {
  text-decoration: line-through;
}