html {
  overflow: overlay;
  background-color: #0A0A0A
}

*::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #00000000;
  border-radius: 3px;
}
*::-webkit-scrollbar-thumb {
  background-color: #ffffff80;
  border-radius: 3px;
}
* {
  scroll-behavior: smooth;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: fixed;
}

.hero-0 { background-image: url('./images/hero/0.webp'); }
.hero-1 { background-image: url('./images/hero/1.webp'); }
.hero-2 { background-image: url('./images/hero/2.webp'); }
.hero-3 { background-image: url('./images/hero/3.webp'); }
.hero-4 { background-image: url('./images/hero/4.webp'); }
.hero-5 { background-image: url('./images/hero/5.webp'); }
.hero-6 { background-image: url('./images/hero/6.webp'); }
.hero-7 { background-image: url('./images/hero/7.webp'); }
.hero-8 { background-image: url('./images/hero/8.webp'); }

.radial-blur {
  width: 100%;
  height: 100%;
  -webkit-mask: radial-gradient( closest-side at center, black 10%, transparent 50%);
  mask: radial-gradient( closest-side at center, black 10%, transparent 80%);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  position: absolute;
}

.blurred {
  filter: blur(50px);
  -webkit-filter: blur(50px);
}

.navbar.is-black, .navbar-dropdown {
  background-color: #0A0A0A66;
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px) saturate(150%);
  filter: drop-shadow(0 0 2rem black);
  -webkit-filter: drop-shadow(0 0 2rem black);
}

@media (orientation: portrait) {
  .navbar-menu {
    background-color: #0A0A0A66;
    backdrop-filter: blur(20px) saturate(150%);
    -webkit-backdrop-filter: blur(20px) saturate(150%);
    filter: drop-shadow(0 0 2rem black);
    -webkit-filter: drop-shadow(0 0 2rem black);
  }
}

.navbar-item, .navbar-link {
  color: white;
  border-radius: 10px;
}

.navbar-divider {
  background-color: #FFFFFF10
}

iframe {
  width: 100%;
  height: calc(100vh - 200px);
  border-radius: 10px;
  filter: drop-shadow(0 0 2rem black);
  -webkit-filter: drop-shadow(0 0 2rem black);
}

.notification {
  border-radius: 10px;
  background-color: #0A0A0A66;
  color: #fff;
  filter: drop-shadow(0 0 2rem black);
  -webkit-filter: drop-shadow(0 0 2rem black);
}

.feather {
  margin-right: 10px;
  vertical-align: middle;
}

a, button {
  transition: 300ms;
}

@media screen and (prefers-reduced-motion: reduce) {
  html { scroll-behavior: auto; }
  a, button { transition: 0ms; }
}